---
component: header
---
<div id="header" class="header">
    <div id="logo" class="logo">
        <h1><a href="{{site.url}}">KopiJunkie</a></h1>
    </div>

    <div class="clear-both"></div>

    <div id="tagline" class="tagline">
        <h3>The online home of a web developing coffee junkie</h3>
    </div>

    <section id="socialm">
        <h3>Follow Me On</h3>

        <ul id="follow">
            <li id="codepen">
                <a href="{{social.codepen}}" target="_blank">Codepen</a>
            </li>
            <li id="twitter">
                <a href="{{social.twitter}}" target="_blank">Twitter</a>
            </li>
            <li id="lastfm">
                <a href="{{social.lastfm}}" target="_blank">Last.fm</a>
            </li>
        </ul>
    </section>

    <div class="clear-both"></div>

    <nav>
        <ul id="navbar" class="nav-menu">
            <li class="nav-menu__item"><a href="{{site.url}}">Home</a></li>
            <li class="nav-menu__item"><a href="about.html">About</a></li>
            <li class="nav-menu__item"><a href="portfolio.html">Portfolio</a></li>
            <li class="nav-menu__item"><a href="blog">Blog</a></li>
            <li class="nav-menu__item"><a href="contact.html">Contact</a></li>
        </ul><!-- end #navbar -->
    </nav>

    <div class="clear-both"></div>
</div><!-- end #header -->