---
title: Work
heading: My Work
filters: ["All", "Web", "Mobile", "Emailers", "Graphic Design"]
---
<h1>{{ heading }}</h1>

<p>If you'd like to have a look at some code, look me up on <a href="{{social.github}}" title="Codepen">Github</a> or <a href="{{social.codepen}}" title="Codepen">Codepen</a>.</p>

<p>But otherwise, here's a portfolio of work I've done so far.</p>

<ul id="filter-list" class="list--no-bullets">
    <li class="current filter-list__item list__item list__item--horizontal">
        <a href="#" title="Show All">All</a>
    </li>
    <li class="list__item list__item--horizontal">
        <a href="#" title="Show only Web Site or App work">Web</a>
    </li>
    <li class="list__item list__item--horizontal">
        <a href="#" title="Show only Mobile App work">Mobile</a>
    </li>
    <li class="list__item list__item--horizontal">
        <a href="#" title="Show only Emailers work">Emailers</a>
    </li>
    <li class="list__item list__item--horizontal">
        <a href="#" title="Show only Graphic Design work">Graphic Design</a>
    </li>
</ul>

<em class="info">
    <i class="info__icon"></i>Click on the image previews to see the full image
</em>

<ul id="portfolio-list" class="list--no-bullets portfolio-list">
    <li class="mobile web">
        <a href="{{assets}}/img/portfolio/twickets-apps.png" title="Twickets apps" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/twickets-thumb.png" alt="Twickets apps preview"/>
        </a>

        <p>
            <a href="http://www.twckts.com/" title="Twickets"><strong>Twickets site</strong></a> /
            <a href="http://m.twckts.com/" title="Twickets mobile web app"><strong>Twickets mobile web app</strong></a>
            <br />
            <a href="https://itunes.apple.com/gb/app/twickets/id597910528?mt=8&uo=4" title="Get Twickets iPhone App" target="itunes_store">
                <img class="appstore-badge" src="{{assets}}/img/badge_ios.png" alt="Twickets App - Available on the App Store" />
            </a>
        </p>

        <p>Working with 2 other developers (1 back end developer, 1 iOS developer), I was involved with the development of both an iPhone app and a mobile web app for Twickets - a "peer-to-peer" service that started on Twitter listing tweets of spare tickets for music gigs, football matches, etc. that are being sold at face value or less</p>
        <ul class="work-done">
            <li>HTML5 mobile web app developed using jQuery Mobile framework, responsive web design and a mobile first approach</li>
            <li>created UI graphics for iPhone app (ranked #50 in iTunes App Store's Top Free Apps chart, #7 in Entertainment Top Free App chart 1 week into release)</li>
        </ul>

        <dl>
            <dt>Client:</dt>
            <dd>
                Twickets<br />
                <a href="https://twitter.com/twickets" class="twitter-follow-button" data-show-count="false" data-lang="en">Follow &#64;twickets</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                <br />
                <em>* Work done at Vexed Digital (now known as Future Platforms)</em>
            </dd>
        </dl>
    </li>
    <li class="web">
        <a href="{{assets}}/img/portfolio/dominos-ukie.png" title="Domino's Pizza UK and Ireland" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/dominos-ukie-thumb.png" alt="Domino's Pizza UK and Ireland preview"/>
        </a>
        <br />

        <p class="clearBoth">
            <a href="http://www.dominos.co.uk/" title="Domino's Pizza UK"><strong>www.dominos.co.uk</strong></a> /
            <a href="http://www.dominos.ie/" title="Domino's Pizza Ireland"><strong>www.dominos.ie</strong></a> /
            <a href="http://www.dominos.de/" title="Domino's Pizza Germany"><strong>www.dominos.de</strong></a>
        </p>

        <p>I was involved in a number of sprints throughout 2011-2012 implementing various front end design updates and new features added across all three sites, such as </p>
        <ul class="work-done">
            <li>user interface for My Domino's (registered users area, including related functionality throughout each site)</li>
            <li>built layout for Store Locator page in Domino's Germany site</li>
            <li>Domino's Movies front end</li>
            <li>QA testing (manual and automated using Selenium and building on existing C# code base from client)</li>
        </ul>

        <dl>
            <dt>Client:</dt>
            <dd>
                Domino's Pizza UK, Ireland and Germany<br />
                <em>* Work done at Vexed Digital (now known as Future Platforms)</em>
            </dd>
        </dl>
    </li>
    <li class="web">
        <ul id="devere-carousel" class="carousel">
            <li class="carousel__slide">
                <a href="{{assets}}/img/portfolio/devere-main.png" title="De Vere (main)" class="preview" >
                    <img src="{{assets}}/img/portfolio/devere-main-thumb.png" alt="De Vere (main) preview"/>
                </a>
            </li>
            <li class="carousel__slide">
                <a href="{{assets}}/img/portfolio/devere-hotels.png" title="De Vere Hotels" class="preview" >
                    <img src="{{assets}}/img/portfolio/devere-hotels-thumb.png" alt="De Vere Hotels preview"/>
                </a>
            </li>
            <li class="carousel__slide">
                <a href="{{assets}}/img/portfolio/devere-venues.png" title="De Vere Venues" class="preview" >
                    <img src="{{assets}}/img/portfolio/devere-venues-thumb.png" alt="De Vere Venues preview"/>
                </a>
            </li>
            <li class="carousel__slide">
                <a href="{{assets}}/img/portfolio/devere-booking.png" title="De Vere Booking Engine (main)" class="preview" >
                    <img src="{{assets}}/img/portfolio/devere-booking-thumb.png" alt="De Vere Booking Engine (main) preview"/>
                </a>
            </li>
        </ul>

        <p>
            <a href="http://www.devere.co.uk/" title="De Vere (main)">
                <strong>www.devere.co.uk</strong>
            </a> /
            <a href="http://www.deverevenues.co.uk/" title="De Vere Venues">
                <strong>www.deverevenues.co.uk</strong>
            </a> /
            <a href="http://www.devere-hotels.co.uk/" title="De Vere Hotels">
                <strong>www.devere-hotels.co.uk</strong>
            </a>
        </p>

        <p>
            <a href="http://booking.deverevenues.co.uk/booking/" title="De Vere Venues Booking Engine">
                <strong>booking.deverevenues.co.uk</strong>
            </a>
        </p>

        <p>Design update for brand relaunch in 2011.</p>
        <p>Working in a team with 2 other front end developers, work done included </p>
        <ul class="work-done">
            <li>booking panel interface and My De Vere registered user area on De Vere Hotels, Venues and Luxury Lodges sites</li>
            <li>front end for De Vere Venues</li>
            <li>layout templates and brand specific styling for De Vere (main), Hotels, Venues sites' respective online booking engine</li>
            <li>brand specific HTML email templates for booking confirmation</li>
            <li>QA testing</li>
        </ul>

        <dl>
            <dt>Client:</dt>
            <dd>
                De Vere Group<br />
                <em>* Work done at Vexed Digital (now known as Future Platforms)</em>
            </dd>
        </dl>
    </li>
    <li class="web">
        <a href="{{assets}}/img/portfolio/webtech-assignment1.jpg" title="Web Technologies - Assignment 1" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/webtech-assignment1-thumb.jpg" alt="Web Technologies - Assignment 1 preview"/>
        </a>
        <br />

        <p>The first part of my submitted 3-part Web Technologies unit assignments.</p>
        <p>The challenge was to design a visually attractive multi-page website using strictly W3C standards compliant XHTML1.0 and CSS2.1. As little graphics as possible was to be used as graphics work would not be assessed at this point.</p>
        <p>Using CSS, I set up the framework to allow for a transitioning background effect. As the user scrolls down the page, the background image changes from black circles to grey circles. This would later be built upon in the next assignment to transition from one image to a completely different one.</p>
        <p>A timeline was also made for the website's <em>Band of the Month</em> page and this was done purely with CSS2.1 styling. Being a fluid site layout, the timeline bars' widths are fully fluid. You can see it in action on the <a href="demo-site/frame.html" title="Demo Website"><strong>demo website</strong></a></p>

        <dl>
            <dt>Client:</dt>
            <dd>Personal (Web Technologies unit Assignment 1)</dd>

            <dt>Tools:</dt>
            <dd>Notepad++, Photoshop (for website design mockup only)</dd>
        </dl>
    </li>
    <li class="web graphic-design">
        <a href="{{assets}}/img/portfolio/webtech-assignment2.jpg" title="Web Technologies - Assignment 2" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/webtech-assignment2-thumb.jpg" alt="Web Technologies - Assignment 2 preview"/>
        </a>
        <br />

        <p>The second part of my submitted 3-part Web Technologies unit assignments.</p>
        <p>With the website's styling all done, my plan was now to incorporate images into the website design. Images were created using a variety of tools ranging from GIMP for image manipulation and creation to Inkscape for vector images. Assessment also included use of JavaScript and libraries like jQuery to provide some "animation" effects.</p>
        <p>JavaScript was used to implement a style changer (conceptually similar to <a href="http://www.last.fm/home">Last.fm</a>'s for users when logged in). A image/photo slider in the Media section was also implemented using jQuery. The user can choose to skip to another photo in the queue by clicking on the number list.</p>
        <p>Feel free to play around with the <a href="demo-site/frame.html" title="Demo Website"><strong>fully working demo website</strong></a></p>

        <dl>
            <dt>Client:</dt>
            <dd>Personal (Web Technologies unit Assignment 2)</dd>

            <dt>Tools:</dt>
            <dd>GIMP, Inkscape, Notepad++</dd>
        </dl>
    </li>
    <li class="graphic-design">
        <a href="{{assets}}/img/portfolio/gigposter.png" title="Gig Poster Concept Artwork/Design" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/gigposter-thumb.jpg" alt="Gig Poster Concept Artwork/Design preview"/>
        </a>
        <br />

        <p>Incorporated into the website for the second part of my submitted 3-part Web Technologies unit assignments as a mock "gig poster".</p>
        <p>Work done used a combination of GIMP and Inkscape to achieve the desired effect for the 4 central images in the poster.</p>

        <dl>
            <dt>Client:</dt>
            <dd>Personal (part of Web Technologies unit Assignment 2)</dd>

            <dt>Tools:</dt>
            <dd>GIMP, Inkscape</dd>
        </dl>
    </li>
    <li class="emailers graphic-design">
        <a href="{{assets}}/img/portfolio/umm-tokiohotelemailer.jpg" title="Universal Music Malaysia - Tokio Hotel Contest Emailer" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/umm-tokiohotelemailer-thumb.jpg" alt="Universal Music Malaysia - Tokio Hotel Contest Emailer preview"/>
        </a>
        <br />

        <p>Emailer promoting a contest run in December 2010. I was given the band's publicity shot and "proof of purchase form" image to work with to create a fresh central image. I also did the tables-based HTML coding for the emailer.</p>

        <dl>
            <dt>Client:</dt>
            <dd>Universal Music Malaysia</dd>

            <dt>Tools:</dt>
            <dd>Notepad++, Photoshop</dd>
        </dl>
    </li>
    <li class="graphic-design">
        <a href="{{assets}}/img/portfolio/umm-tokiohotelprizes.jpg" title="Universal Music Malaysia - Tokio Hotel Contest Banner" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/umm-tokiohotelprizes-thumb.jpg" alt="Universal Music Malaysia - Tokio Hotel Contest Banner preview"/>
        </a>
        <br />

        <p>The company already had a standard <a href="http://www.musicreg.net/checkform?force_form=1&form_id=9265" title="Universal Music Malaysia Online Contest Form">online contest form</a> prepared, but needed a banner showcasing the prizes (imported band merchandise).</p>

        <dl>
            <dt>Client:</dt>
            <dd>Universal Music Malaysia</dd>

            <dt>Tools:</dt>
            <dd>Photoshop</dd>
        </dl>
    </li>
    <li class="graphic-design">
        <a href="{{assets}}/img/portfolio/umm-bestofbestofs.jpg" title="Universal Music Malaysia - Best Of Best Ofs Promo" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/umm-bestofbestofs-thumb.jpg" alt="Universal Music Malaysia - Best Of Best Ofs Promo preview"/>
        </a>
        <br />

        <p>Banner image showcasing albums available in a promotion featured in Universal Music Malaysia's January 2011 newsletter.</p>

        <dl>
            <dt>Client:</dt>
            <dd>Universal Music Malaysia</dd>

            <dt>Tools:</dt>
            <dd>Photoshop</dd>
        </dl>
    </li>
    <li class="graphic-design">
        <a href="{{assets}}/img/portfolio/cping-nametag.jpg" title="Coldplaying.com Boat Trip Name Tag" class="preview" >
            <img class="portfolio-list__image" src="{{assets}}/img/portfolio/cping-nametag-thumb.jpg" alt="Coldplaying.com Boat Trip Name Tag preview"/>
        </a>
        <br />

        <p>Name tag design for a <a href="http://www.coldplaying.com" title="Coldplaying.com">Coldplay fan forum</a> London boat trip meet-up / 'Christmas Lights' music video shoot. Inspired by the band's Viva La Vida world tour theme and the pink/blue colour theme on <a href="http://www.coldplay.com" title="Coldplay.com">their official website</a> as of November 2010.</p>

        <dl>
            <dt>Client:</dt>
            <dd>Personal</dd>

            <dt>Tools:</dt>
            <dd>Photoshop</dd>
        </dl>
    </li>
</ul>